@model WFJ.Models.ManagerUserFilterViewModel
<style type="text/css">
    .field-validation-error {
        color: red;
    }
</style>
<div>
    <span id="errormessage"></span>
    <div class="form-group">
        <label for="inputState">Client</label>
        <select id="ddlClient" name="ddlClient" class="form-control">
            <option selected="" value="-1">All</option>
            @{
                foreach (var item in Model.Clients)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="active">Active</label>
        <select id="ddlActive" name="ddlActive" class="form-control">
            <option selected="" value="-1">All</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputDate">Name</label>
        <input type="text" id="txtname" name="txtname" class="form-control" />
    </div>

    <div class="clearfix">
        <span id="AddUerMsg"></span>
        <br/>
        <button type="button" onclick="SearchBy();"
                class="btn btn-primary float-right ml-2 mb-2 document-search-btn">
            Search
        </button>
        <button type="button"
                class="btn btn-primary float-right document-search-btn"
                data-toggle="modal"
                data-target="" onclick="AddUser();">
            Add a New User
        </button>
        @*<button type="button"
                class="btn btn-primary float-right document-search-btn"
                data-toggle="modal"
                data-target="#newdocument" onclick="AddUser();">
            Add a New User
        </button>*@
    </div>
    <div>
        @*@Html.Partial("~/Views/Home/_addEditManageLogin.cshtml", Model)*@
    </div>
    <!-- Enter new document Modal -->
    <div class="modal fade"
             id="newdocument"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Add User
                        </h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("~/Views/User/_addEditManageLogin.cshtml", Model)
                    </div>
                        @*@using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { @autocomplete = "off" }))
                        {
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            @Html.TextBoxFor(m => m.userViewModel.Password, new { @class = "form-control", @type = "password" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            @Html.TextBoxFor(m => m.userViewModel.FirstName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.userViewModel.FirstName)
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            @Html.TextBoxFor(m => m.userViewModel.LastName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.userViewModel.LastName)
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="telephone">Telephone</label>
                                            @Html.TextBoxFor(m => m.userViewModel.Telephone, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address1">Address1</label>
                                            @Html.TextBoxFor(m => m.userViewModel.Address1, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address2">Address2</label>
                                            @Html.TextBoxFor(m => m.userViewModel.Address2, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">City</label>
                                            @Html.TextBoxFor(m => m.userViewModel.City, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            @Html.TextBoxFor(m => m.userViewModel.State, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.userViewModel.State)
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="postalCode">Postal Code</label>
                                            @Html.TextBoxFor(m => m.userViewModel.PostalCode, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="userType">Type</label>
                                            @Html.DropDownListFor(m => m.userViewModel.UserType, Model.UserType, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="active">Active</label>
                                            @Html.DropDownListFor(m => m.userViewModel.IsActive, Model.Active, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dashboardUser">Dashboard User</label>
                                            @Html.DropDownListFor(m => m.userViewModel.IsDashboardUser, Model.DashboardUser, "Select", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="attorney">Attorney</label>
                                            <select id="inputState"
                                                    class="form-control">
                                                <option>N/A</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputDate">EMail</label>
                                            @Html.TextBoxFor(m => m.userViewModel.EMail, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.userViewModel.EMail)
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group custom-multiselect-scroll">
                                            <label for="regions">Region</label>
                                            @Html.DropDownListFor(m => m.userViewModel.RegionId, Model.Regions, new { @id = "boot-multiselect", @multiple = "multiple", @class = "multiselect" })
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group custom-multiselect-scroll">
                                            <label for="inputState">Form(s)</label>
                                            @Html.DropDownListFor(m => m.userViewModel.FormId, Model.Forms, new { @id = "boot-multiselect1", @multiple = "multiple", @class = "multiselect" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        }*@
                    </div>
            </div>
        </div>

    @*<script>

            function SearchBy() {

                var clientid = $('#ddlClient option:selected').val();
                var activeid = $('#ddlActive option:selected').val();
                var name = $('#txtname').val();
                //if (clientid ==-1) {
                //    alert('error');
                //    $('#errormessage').text('Please Select atleast one value for searching');

                //}
                //else {
                jQuery.ajax({
                    type: "POST",
                    url: "/Home/ManageUsers",
                    data: {
                        clientId: clientid,
                        active: activeid,
                        name: name
                    },
                    beforeSend: function (xhr) {
                        if (clientid == -1 && activeid == -1 && name == "") {
                            alert('error');
                            $('#errormessage').text('Please Select atleast one value for searching').css("color", "red");
                            xhr.abort();
                            return false;
                        }
                    },
                    success: function () {
                        $('#errormessage').text('');

                    }
                });

                //}

        }

        //function resetfields() {
        //    $('#newdocument').find('#exampleModalLabel').html('Add User');
        //    $("input.serialnocls").each(function () {

        //        $("input.serialnocls").val("");
        //    });
        //}
        

        </script>*@
</div>
