@model WFJ.Models.ManageDocumentFilterViewModel
<style type="text/css">
    .field-validation-error {
        color: red;
    }
</style>
@using (Ajax.BeginForm("AddDocument", "DocumentCenter", new AjaxOptions { OnSuccess = "addDocumentSucess" }, new { encType = "multipart/form-data" }))
{
<div>
    <div id="ErrorMessages" style="color:red;"></div>
    <div class="row">
        @Html.HiddenFor(m => m.documentViewModel.Id)
        <div class="col-md-6">
            <div class="form-group">
                <label>State</label>
                @Html.DropDownListFor(m => m.documentViewModel.StateCodeId, Model.state, "Select", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Document Type</label>
                @Html.DropDownListFor(m => m.documentViewModel.DocumentTypeId, Model.documentType, "Select", new { @class = "form-control" })
            </div>
        </div>

        @*<div class="col-md-6">
                <div class="form-group">
                    <label>Project Type</label>
                    <select id="inputState" class="form-control">
                        <option selected="">Private</option>
                        <option>Private</option>
                        <option>Public</option>
                    </select>
                </div>
            </div>*@

        <div class="col-md-12">
            <div class="form-group custom-multiselect-scroll">
                <label>Client</label>
                @*@Html.DropDownListFor(m => m.documentViewModel.ClientId, new SelectList( Model.client, "Value", "Text"),
                    new { id = "det", multiple = "multiple" });*@
                @*@Html.DropDownListFor(m => m.documentViewModel.ClientId, Model.client, new { @multiple = "multiple", @class = "multiselect boot-multiselect222" })*@
                @Html.DropDownListFor(m => m.documentViewModel.ClientId, Model.client, new { @id = "boot-document-multiselect", @multiple = "multiple", @class = "multiselect" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label>Practice Area</label>
                @Html.DropDownListFor(m => m.documentViewModel.PracticeAreaId, Model.practiceArea, "Select", new { @class = "form-control" })
            </div>
        </div>

        @*<div class="col-md-12">
                <div class="form-group">
                    <label>Category (for WFJ Use)</label>
                    <select id="inputState" class="form-control">
                        <option selected="">
                            Commercial Litigation ---&gt; Category Name 1
                        </option>
                        <option>
                            Commercial Litigation ---&gt; Category Name 1
                        </option>
                        <option>
                            Commercial Litigation ---&gt; Category Name 2
                        </option>
                    </select>
                </div>
            </div>*@

        <div class="col-md-6">
            <div class="form-group">
                <label for="inputDate">Document Name</label>
                @Html.TextBoxFor(m => m.documentViewModel.DocumentName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.documentViewModel.DocumentName)
                @*<input type="text" class="form-control" />*@
            </div>
        </div>

        @*<div class="col-md-6">
                <div class="form-group">
                    <label for="inputDate">WFJ File #</label>
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="inputDate">Notify Days</label>
                    <input type="text" class="form-control" />
                </div>
            </div>*@

        <div class="col-md-12">
            <div class="form-group">
                <label for="inputDate">Description</label>
                @Html.TextAreaFor(m => m.documentViewModel.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.documentViewModel.Description)
                @*<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>*@
            </div>
        </div>
        <div class="col-md-12">
            <div class="custom-file">
                @Html.TextBoxFor(m => m.documentFile, new { @id = "customFile", @type = "file", @class = "custom-file-input", @name = "documentFile" })
                @*<label class="custom-file-label n-custom-file-label" for="customFile"> Choose file</label>*@
                <label class="custom-file-label n-custom-file-label" for="customFile"> @Model.documentViewModel.FileName</label>
                @*<label class="" for="">Choose file</label>*@
                @*<input type="file" class="custom-file-input" id="customFile" />*@

            </div>
        </div>
    </div>
</div>
    <br />
    <div>
        <span id="AddEditDocErrorMsg" style="color:red;"></span>
        <br/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}




